.hero {
  color: var(--primaryColor);
  position: relative;
  background: var(--mainDarkBg);
  /* border: 10px solid red; */
}

.hero-content-column {
  padding: 6rem var(--mainPaddingX);
  position: absolute;
  inset: 0;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.hero-content-card {
  /* border: 5px solid blue; */
  max-width: 50rem;
  margin-bottom: 14rem;
}

.hero-blurb {
  padding-right: 7.5rem;
}

.hero-img-column {
  /* border: 2px solid red; */
  position: relative;
}

.hero-img-column::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 75%;
  right: 0;
  top: 0;
  background: linear-gradient(to left, white, white, transparent);
  opacity: 15%;
  /* border: 20px solid pink; */
}

.mobile-hero-content-column {
  display: none;
}

@media screen and (max-width: 950px) {
  /*can be dangerous with image but size/response works here */
  .hero-img {
    height: 100%;
    width: 100%;
  }

  .desktop-hero-content-column {
    display: none;
  }

  .mobile-hero-content-column {
    display: block;
    /* border: 3px solid orange; */
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;
    height: fit-content;
    background: var(--mainDarkBg);
    padding: 2rem var(--mainPaddingX);
  }

  .hero-img-column::after {
    position: absolute;
    content: "";
    height: 60%;
    width: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(white, white, transparent);
    opacity: 15%;
    z-index: 50;
  }

  .hero-blurb {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 450px) {
  .hero-img {
    min-width: max-content;
  }

  .hero-content-card {
    margin-bottom: 8rem;
  }
}
