.highlights-container {
  background: var(--mainDarkBg);
  color: var(--primaryColor);
  padding: 12rem var(--mainPaddingX);
  /* border: 5px solid red; */
  /* position: relative;
  z-index: -22; */
}
.highlights-content-row {
  display: flex;
  /* border: 3px solid white; */
  gap: 12rem;
}

.highlights-column {
  flex: 1;
}

.highlight-item {
  display: flex;
  align-items: center;
  gap: 6rem;
  /* margin-bottom: 3rem; */
  padding: 2rem 0;
}

.highlight-item:nth-child(2) {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.highlight-img-div {
  position: relative;
}

.highlight-img-div::after {
  content: "";
  right: -25%;
  width: 25%;
  height: 2px;
  top: 2rem;
  background: var(--bronze);
  position: absolute;
}

.highlight-item-text-content {
  text-align: start;
}

@media screen and (max-width: 950px) {
  .highlights-content-row {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .highlights-header-card {
    padding: 0 14rem;
  }
}
