.highlights-container {
  background: var(--mainDarkBg);
  color: var(--primaryColor);
  padding: 12rem var(--mainPaddingX);
  border: 5px solid red;
}
.highlights-content-row {
  display: flex;
  gap: 6rem;
  /* border: 3px solid white; */
}

.highlights-header-card {
  opacity: 0;
}

.highlights-column {
  flex: 1;
}

.highlight-item {
  display: flex;
  align-items: center;
  gap: 6rem;
  padding: 2rem 0;
  transform: scale(0);
}

.highlight-item:nth-child(2) {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.highlight-img-div {
  position: relative;
}

.highlight-img-div::after {
  content: "";
  right: -25%;
  width: 25%;
  height: 2px;
  top: 2rem;
  background: var(--bronze);
  position: absolute;
}

@media screen and (max-width: 950px) {
  .highlights-content-row {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .highlight-item {
    flex-direction: column;
  }

  .highlight-img-div::after {
    display: none;
  }
}
