.section-row {
  /* display: flex;
  padding: 0 var(--mainPaddingX);
  gap: 12rem;
  position: relative; */
}

.section-desktop-row {
  display: flex;
  padding: 0 var(--mainPaddingX);
  gap: 12rem;
  position: relative;
}

.section-up {
  transform: translateY(-5rem);
}

.section-down {
  transform: translateY(5rem);
}

.section-column {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* border: 2px solid red; */
}

.section-svg-overlay {
  position: absolute;
  inset: 0;
}

.center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.center-offset-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-50vw);
}

.bottom-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 5rem; /*offset the translate */
}

.bottom-end-offset {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 5rem;
  transform: translateX(50vw);
}
.flip-svg {
  transform: rotateX(180deg);
}

.section-img-container {
  /* border: 3px solid blue; */
}

.section-img {
  position: relative;
  /* border: 4px solid red; */
}

.lines-icon {
  position: absolute;
  right: -10rem;
}

.section-content-card {
  overflow: hidden;
  /* border: 2px solid blue; */
}

.mobile-section {
  display: none;
  padding: 0 var(--mainPaddingX);
  /* border: 2px solid red; */
}

.mobile-content-card {
  /* border: 2px solid red; */
  padding: 5rem 14rem;
  text-align: center;
}

.mobile-img-div {
  /* border: 2px solid red; */
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.mobile-lines-icon {
  position: absolute;
  right: -6rem;
  bottom: 5rem;
}

@media screen and (max-width: 950px) {
  .section-desktop-row {
    display: none;
  }
  .section-img {
    height: 36rem;
  }

  .mobile-section {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .mobile-content-card {
    /* border: 2px solid red; */
    padding: 5rem 2rem;
  }
  .section-down {
    transform: translateY(0rem);
  }
}
