@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;700;800&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bronze: #9e7f66;
  --codgray: #111111;
  --mirage: #17192b;
  --ebonyclay: #242b37;
  --shuttlegray: #5c6779;
  --white: #ffffff;
  --mainFont: "League Spartan", sans-serif;
  --mainPaddingX: 16.5rem;
}

/*
--primarydarkbg: codgray

*/

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

.thin {
  font-weight: 200;
}

.mid-thin {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.my-2 {
  margin: 3rem 0;
}

.mt-2 {
  margin-top: 2rem;
}

.py-4 {
  padding: 4rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
}

.btn {
  /* padding: 2.5rem 4.8rem; */
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.7rem;
  padding: 2rem 5rem;
  white-space: nowrap;
}

.transparent-btn {
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  transition: 0.5s ease;
}

.transparent-btn:hover {
  background: var(--white);
  color: var(--mainDarkBg);
  border: 2px solid var(--mainDarkBg);
}

.no-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.primary-btn {
  background: var(--mainDarkBg);
  color: var(--white);
}

.form-control {
  border: none;
  border-bottom: 2px solid black;
  padding: 1.5rem;
  width: 100%;
}

.line-h-2 {
  line-height: 3rem;
}

.muted {
  opacity: 50%;
}

.no-wrap {
  white-space: nowrap;
}

@media screen and (max-width: 950px) {
  :root {
    --mainPaddingX: 3.9rem;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 550px) {
  :root {
    --mainPaddingX: 3.9rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 1.6rem;
  }
}
